.invisible-at-first {
    display: none;
}

.logo-home {
    font-size: 20px;
    text-decoration: none !important;
    color: white !important;
}

#logo-home-img {
    height: 48px;
    margin-top: 3px;
    margin-left: 5px;
}